# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# venv
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Outputs
alpha_sweep.csv
alpha_sweep_lightGBM.csv
*.log
artifacts/
